.default
  position relative
  height 36px
  padding 0 16px
  text-transform uppercase
  background transparent
  font-size 14px
  font-weight 500
  line-height 24px
  letter-spacing 0.4px
  color #000

.white
  composes default
  color #fff

.black
  composes default
  color #000

.grey
  composes default
  color rgba(38, 50, 57, 0.54)

.blue
  composes default
  color #536dfe

.pink
  composes default
  color #ff4081
