.container
  display flex
  flex-direction column
  width 100%
  height 100vh

  .header
    flex 0 0 auto
    display flex
    align-items center
    justify-content space-between
    z-index 20
    position relative
    height 44px
    padding 0 16px
    box-sizing border-box
    background-color white

    .title
      display inline-block
      font-size 24px
      font-weight 500
      color rgba(38,50,57,0.87)

    .controls
      display inline-block

  > div:last-child
    position relative
    height calc(100% - 88px - 56px) !important

.pagination
  flex 0 0 auto
  z-index 10
  position relative
  height 44px
  background-color white
  box-shadow 0 0 4px 0 rgba(83,109,254,0.12), 0 4px 4px 0 rgba(83,109,254,0.24)

.pageSwiper
  position relative
  height 100%

.wrapper
  position relative
  width 100%
  height 100%
  display flex
  transition-property transform
  box-sizing content-box

.viewSlide
.pageSlide
  position relative
  flex-shrink 0

.viewSlide
  width 100%
  height 100%

.pageSlide
  width auto

  &:last-child .page:after
    mask-image url("")

.page
  width auto
  margin 8px 0
  height 28px
  border-radius 24px
  border-color #546E7A
  background-color transparent
  text-align center
  min-width 40px
  color #546E7A
  font-size 12px
  font-weight 500
  line-height 28px
  padding 0 16px
  box-shadow -1px -1px 0 0 rgba(#546e7a, .7), 0 0 0 1px rgba(#546e7a, .24)
  text-transform uppercase
  transition opacity 0.4s ease-in-out
  opacity 0.3

  &:after
    height 16px
    width 16px
    content ""
    mask-image url("../../../../../public/images/ic_arrow_drop_down_black_24px.file.svg")
    position absolute
    right -16px
    transform rotate(270deg)
    margin-top 10px
    background-color #546E7A

.pageActive
  opacity 1

  &:after
    background-color #536DFE

.spinner
  display flex
  height 100vh
  width 100%
  justify-content center
  margin-top 88px

:global
  .swiper-container
    overflow visible
