.container
  position relative
  height 36px
  vertical-align middle
  &:disabled
    opacity 0.5
    .mdWhite
      background-color transparent
      box-shadow none
    .mdBlueGradient
      background-image none
      background-color transparent
      box-shadow none
      .text
        color rgba(38, 50, 57, 0.3)
    .mdPinkGradient
      background-image none
      background-color transparent
      box-shadow none
      .text
        color rgba(38, 50, 57, 0.3)
    .mdTransparent
      .text
        color rgba(38, 50, 57, 0.3)

.wrapper
  display flex
  align-items center
  position relative

  &.rounded
    border-radius 18px
    padding 0 24px

.icon
  margin-right 8px

.text
  font-size 14px
  font-weight 500
  line-height 24px
  text-transform uppercase
  letter-spacing 0.6px

.mdWhite
  composes wrapper
  height 100%
  padding 0 16px
  box-sizing border-box
  border-radius 3px
  background-color #ffffff
  box-shadow 0 2px 2px 0 rgba(83, 109, 254, 0.24), 0 0 2px 0 rgba(83, 109, 254, 0.12)
  transition 0.3s
  .icon
    fill #607d8b
  .text
    color #607d8b
    text-transform uppercase
  &:hover
    box-shadow 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12)

.mdBlueGradient
  composes wrapper
  height 100%
  padding 0 16px
  box-sizing border-box
  border-radius 3px
  background-image linear-gradient(296deg, #8c9eff, #80d8ff)
  box-shadow 0 8px 8px 0 rgba(83, 109, 254, 0.24), 0 0 8px 0 rgba(83, 109, 254, 0.12)
  transition 0.3s
  .icon
    fill #ffffff
  .text
    color #ffffff
  &:hover
    box-shadow 0 12px 12px 0 rgba(83, 109, 254, 0.24), 0 0 12px 0 rgba(83, 109, 254, 0.12)

.mdPinkGradient
  composes wrapper
  height 100%
  padding 0 16px
  box-sizing border-box
  border-radius 3px
  background-image linear-gradient(298deg, #ff4081, #b388ff)
  box-shadow 0 4px 4px 0 rgba(255, 64, 129, 0.24), 0 0 4px 0 rgba(255, 64, 129, 0.12)
  transition 0.3s
  .icon
    fill #ffffff
  .text
    color #ffffff
  &:hover
    box-shadow 0 12px 12px 0 rgba(83, 109, 254, 0.24), 0 0 12px 0 rgba(83, 109, 254, 0.12)

.mdTransparent
  composes wrapper
  height 100%
  padding 0 16px
  box-sizing border-box
  border-radius 3px
  background-color transparent
  .icon
    fill #536dfe
  .text
    color #536dfe
    text-transform uppercase
  &:hover
    opacity 0.87
